.venv/
venv/

node_modules/
.env
.env.local
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

*.db
api/instance/todos.db

.vscode/
.idea/

*.tmp
*.temp
*.log

build/
dist/

.ipynb_checkpoints

htmlcov/
.coverage

