.venv/
venv/

node_modules/
.env
.env.local
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

*.db
api/instance/todos.db

.vscode/
.idea/

*.tmp
*.temp
*.log

build/
dist/

.ipynb_checkpoints

htmlcov/
.coverage



Mobile/app/build
*.iml
.gradle
Mobile/local.properties
Mobile/.idea/caches
Mobile/.idea/libraries
Mobile/.idea/modules.xml
Mobile/.idea/workspace.xml
Mobile/.idea/navEditor.xml
Mobile/.idea/assetWizardSettings.xml
.DS_Store
Mobile/build
Mobile/captures
.externalNativeBuild
.cxx
Mobie/local.properties
